<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
        <title>CU Weather Station</title>
    </head>

    <body>

        <div class="header-section">

            <div class="about">
                <p class="about-us">ABOUT US</p>
                <p class="update">See the Weather Daily</p>
            </div>

            <div class="webname">
                CU Weather Station
            </div>

            <div class="social">

                <div class="icons">
                    <a href="https://fb.com/"><i class="fa fa-facebook" aria-hidden="false"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a href="https://intagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>

        <nav class="submenu">

            <ul>
                <li class="current"><a href="#">Home</a></li>
                <li class="onclass"><a href="https://openweathermap.org/">Open Weather Website</a></li>
            </ul>

        </nav>
    
        <div class="container-data">

            <h3>
                Enter Place to Check Weather
            </h3>

            <form action="/" method="post">
                <input type="text" class="text-box" name="city" placeholder="Enter a Place. Ex:- Chittagong">
                <button type="submit" class="btn">CHECK</button>
            </form>

        </div>

        <br>

        {% if city_name %}

        <div class="show-result">

            <div class="output">
                <h3 style="color:black; font-size:35px; font-weight:bold; font-family:'Courier New', Courier, monospace; text-transform: uppercase;">{{city_name}}
                </h3>
            </div>

            <br>

            <div class="output">
                <h3 style="color:green; font-size:22px; font-weight:bold;  font-family:'Courier New', Courier, monospace; ">WEATHER:
                </h3>
                {{condition}}
            </div>

            {% if condition=='Rain' %}

            <div class="output-logo">

                <img src="{{url_for('static', filename='img/rain_light.png')}}">

            </div>

            {% endif %}
            {% if condition=='Clear' %}

            <div class="output-logo">

                <img src="{{url_for('static', filename='img/clear-sky.png')}}">

            </div>

            {% endif %}
            {% if condition=='Clouds' %}

            <div class="output-logo">
                <img src="{{url_for('static', filename='img/clouds.png')}}">
            </div>

            {% endif %}
            {% if condition=='Thunderstorm' %}

            <div class="output-logo">
                <img src="{{url_for('static', filename='img/thunder_storm.png')}}">
            </div>

            {% endif %}
            {% if condition=='Haze' %}

            <div class="output-logo">
                <img src="{{url_for('static', filename='img/haze.png')}}">
            </div>

            {% endif %}

            <div class="output-desc">
                {{desc}}
            </div>

            <h3 style="margin-bottom: 10px;">
                Instant Temperature Information
            </h3>

            <table class="table" border="3">

                <tr>
                    <td colspan="2">Temperature</td>
                </tr>
                <tr>
                    <td class="output"><h3 style="color:green; font-size:22px; font-weight:bold;  font-family:'Courier New', Courier, monospace; ">Temperature</td>
                    <td>{{temperature}} °C</td>
                </tr>
                <tr>
                    <td class="output"><h3 style="color:green; font-size:22px; font-weight:bold;  font-family:'Courier New', Courier, monospace; ">Feels Like</td>
                    <td>{{feels_like}} °C</td>
                </tr>
            </table>

            <h3 style="margin-top: 20px; margin-bottom: 10px;">
                Todays Temperature Range
            </h3>

            <table class="table" border="3">

                <tr>
                    <td colspan="2">Min & Max Temperature</td>
                </tr>
                <tr>
                    <td class="output"><h3 style="color:green; font-size:22px; font-weight:bold;  font-family:'Courier New', Courier, monospace; ">Minimum Temp</td>
                    <td>{{temp_min}} °C</td>
                </tr>
                <tr>
                    <td class="output"><h3 style="color:green; font-size:22px; font-weight:bold;  font-family:'Courier New', Courier, monospace; ">Maximum Temp</td>
                    <td>{{temp_max}} °C</td>
                </tr>
            </table>

            <h3 style="margin-top: 20px; margin-bottom: 10px;">
                Humidity Information
            </h3>

            <table class="table" border="3">

                <tr>
                    <td class="output"><h3 style="color:green; font-size:22px; font-weight:bold;  font-family:'Courier New', Courier, monospace; ">Humidity</td>
                    <td>{{humidity}} %</td>
                </tr>

            </table>

            <h3 style="margin-top: 20px; margin-bottom: 10px;">
                Pressure Information
            </h3>

            <table class="table" border="3">

                <tr>
                    <td class="output"><h3 style="color:green; font-size:22px; font-weight:bold;  font-family:'Courier New', Courier, monospace; ">Pressure</td>
                    <td>{{pressure}} mb</td>
                </tr>

            </table>

            <h3 style="margin-top: 20px;">
                Wind Information
            </h3>

            <table class="table" border="3">

                <tr>
                    <td class="output"><h3 style="color:green; font-size:22px; font-weight:bold;  font-family:'Courier New', Courier, monospace; ">Wind Speed</td>
                    <td>{{wind}} Km/h</td>
                </tr>

            </table>

        </div>

        {% else %}
        
        {% endif %}

        <div class="footer">

            <p>CU Weather Station   |    Chittagong-4331 </p>
            <br>
            <p>2022 @ University of Chittagong </p>
        </div>

        <div class="bottombar">

        </div>

    </body>
    
</html>